<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
>

<h:head>
    <title>Stellar</title>
    <h:outputStylesheet library="css" name="style-jsf.css"/>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"/>
</h:head>
<h:body>

    <header>
        <nav>
            <ul>
                <li class="active"><a
                        href="./systems.faces">Stellar Catalogue</a></li>
            </ul>
            <span>
                <h:form>
                    <h:selectOneMenu value="#{localeBean.language}"
                    onchange="submit()">
                        <f:selectItems
                                value="#{localeBean.supportedLocales}"
                                var="loc"
                                itemLabel="#{loc.getDisplayLanguage(loc)}"
                            />
                    </h:selectOneMenu>
                </h:form>
            </span>
        </nav>
    </header>

    <article>

        <c:if test="#{displaySearch}">
            <ui:include src="search.xhtml"/>
        </c:if>

        <section class="data">
            <span><ui:insert name="title">TODO</ui:insert></span>

            <ui:insert name="content"/>

        </section>
    </article>

    <footer>
        <span>JSF</span>
    </footer>



</h:body>

</html>
